@using Data
@inherits LayoutComponentBase
@inject Usuarios UsuarioServicios
@inject NavigationManager NavigationManager;
<PageTitle>Interfaz</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div class="top-row px-4">
            @if (Login)
            {
                <a @onclick="Logout" href="javascript:void(0)">LogOut</a>
            }
            else
            {
                <a href="/IniciarSesion">Login</a>
                <a href="/Registro">Registro</a>
            }
                    
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool Login;
    private void Logout()
    {
        UsuarioServicios.SignOut();
        NavigationManager.NavigateTo("/IniciarSesion", true);
    }
    protected override void OnInitialized()
    {
        Login = UsuarioServicios.IsSignedIn;
    }
}