@page "/"


<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>

    <NotAuthorized>
        <h1>Hello, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>
<PageTitle>Index</PageTitle>

Welcome to your new app.

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState {get; set;}
}